.ikonrad, .logo, .tekst {
	text-align: center;
}

.ikon {
	padding: 10px;
}

.topprad {
	height: 120px;
}

.topprad img {
	position: absolute;
	top: -115px;
	right: -45px;
	z-index: -1;
}

body {
	background-image: url('../img/main-bcg.jpg');
	background-repeat: repeat-x;
	background-color: #00ccff;
	overflow-x: hidden;
}

.tekst p {
	color: #59201c;
	font-size: 18px;
	font-weight: bold;
	padding-top: 30px;
}

.logo {
	padding: top: 20px;
}

.restaurant {
	border-top: 2px dotted white;
}
.restaurant img {
	height: 60px;
}

.restauranter {
	background-image: url('../img/main-bcg.jpg');
	background-repeat: repeat-x;
	text-align: center;
	border-bottom: 2px dotted white;
}


